@media screen and (max-width:995px) {
    .sign-in {
        border-top: 1px solid gray;
        padding-top: 4%;
    }
    .sign-in li {
        width: 100%;
    }
    .sign-in button {
        width: 100%;
    }
    header .text-content {
        text-align: center;
        align-items: center !important;
        justify-content: start !important;
        padding-top: 40% !important;
        h1 {
            font-size: 32px;
        }
    }
    .button {
        flex-direction: column;
        button {
            width: 100%;
        }
    }
}